.graph {
  background: #ffffff;
  margin: 20px;
  height: 90vh;
  border: solid #c0c0c0 1px;
  border-radius: 5px;
}

.content {
  background: #f9f9f9;
  padding: 10px;
}

.ant-card {
  border-radius: 5px;
}

.ant-card-head-title {
  color: #0099ff;
  font-size: 20px;
}

.ant-card-body {
  padding: 0;
}

.ant-card-loading-content {
  height: 315px;
}