.location-map {
    margin: 10px;
    background: #ffffff;
    border: solid #c0c0c0 1px;
    border-radius: 4px;
    display: inline-block;
    float: left;
}

.loader {
    margin: auto;
    position: relative;
    top: 50%;
    vertical-align: middle;
    border: 5px solid #fdfdfd;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1000ms linear infinite;
}

.loader-wrapper {
    height: 380px;
}

@media (min-width: 1170px) {
    .location-map {
        width: 48%;
        height: 380px;
    }
}

@media (min-width: 770px) and (max-width: 1169px) {
    .location-map {
        width: 450px;
        height: 320px;
    }
}

@media (max-width: 769px) {
    .location-map {
        width: 96%;
        height: 250px;
    }
}

