.loader {
    margin: auto;
    position: relative;
    top: 50%;
    vertical-align: middle;
    border: 5px solid #fdfdfd;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1000ms linear infinite;
}

.loader-wrapper {
    height: 380px;
}