.selector {
    margin: 10px;
}

.card-element {
    margin: 8px 0;
}

.user-data-content {
    margin: 10px;
}

.overview {
    margin: 10px;
    background: #ffffff;
    border: solid #c0c0c0 1px;
    border-radius: 4px;
    display: inline-block;
    float: left;
}

.dataoverview {
    line-height: 1.8;
}

.heading {
    border-bottom: solid #c0c0c0 1px;
    color: #0099ff;
}

@media (min-width: 1170px) {
    .overview {
        width: 48%;
        min-height: 380px;
    }

    .dataoverview {
        padding: 20px;
        font-size: 12pt;
    }

    .heading {
        padding: 10px 20px;
        font-size: 18pt;
    }
}

@media (min-width: 770px) and (max-width: 1169px) {
    .overview {
        width: 450px;
        min-height: 320px;
    }

    .dataoverview {
        padding: 20px;
        font-size: 12pt;
    }

    .heading {
        padding: 10px 20px;
        font-size: 18pt;
    }
}

@media (min-width: 520px) and (max-width: 769px) {
    .overview {
        width: 96%;
        min-height: 250px;
    }

    .dataoverview {
        padding: 20px;
        font-size: 11pt;
    }

    .heading {
        padding: 10px 20px;
        font-size: 18pt;
    }
}

@media (max-width: 519px) {
    .overview {
        width: 96%;
        min-height: 200px;
    }

    .dataoverview {
        padding: 6px;
        font-size: 8pt;
    }

    .heading {
        padding: 5px 10px;
        font-size: 15pt;
    }
}